/* font converted using font-converter.net. thank you! */
@font-face {
  font-family: "LCChalk";
  src: url("./fonts/lcchalk.eot"); /* IE9 Compat Modes */
  src: url("./fonts/lcchalk.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("./fonts/lcchalk.otf") format("opentype"), /* Open Type Font */
    url("./fonts/lcchalk.svg") format("svg"), /* Legacy iOS */
    url("./fonts/lcchalk.ttf") format("truetype"), /* Safari, Android, iOS */
    url("./fonts/lcchalk.woff") format("woff"), /* Modern Browsers */
    url("./fonts/lcchalk.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}